{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-syntax-import-attributes",
      { "deprecatedAssertSyntax": true }
    ],
    "@babel/plugin-transform-runtime"
  ]
}
