{
    "env": {
        "dev": {
            "presets": [["@babel/env", { "modules": false }]]
        },
        "test": {
            "presets": [["@babel/env"]],
            "plugins": ["@babel/plugin-transform-runtime"]
        }
    }
}